<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="36"
    android:versionName="16"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="com.motorola.laptoppanel"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="36"
        android:targetSdkVersion="36"/>
    <permission
        android:name="com.motorola.permission.LAPTOP_PANEL_BROADCAST"
        android:protectionLevel="system|signature"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.LAUNCH_MULTI_PANE_SETTINGS_DEEP_LINK"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.motorola.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.motorola.launcher3.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.motorola.permission.BIND_EXPERIENCE"/>
    <uses-permission android:name="com.motorola.permission.TAKE_SCREENSHOT"/>
    <uses-permission android:name="com.motorola.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="com.motorola.permission.MANAGE_TYPE_MOTO_TRUSTED_APPS_OVERLAY"/>
    <uses-permission android:name="com.motorola.permission.LISTEN_ACTIVITY_TASKS"/>
    <uses-permission android:name="com.motorola.permission.CONTROL_DISPLAY_ORIENTATION"/>
    <uses-permission android:name="com.motorola.permission.ACCESS_CHECKIN"/>
    <uses-permission android:name="com.motorola.permission.WRITE_SECURE_SETTINGS"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
        <package android:name="com.motorola.launcher3"/>
        <intent>
            <action android:name="com.android.setupwizard.action.PARTNER_CUSTOMIZATION"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="com.motorola.launcher3.permission.DYNAMIC_ICON"/>
    <permission
        android:name="com.motorola.laptoppanel.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.motorola.laptoppanel.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/Theme.LaptopPanel"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:usesNonSdkApi="true">
        <activity
            android:icon="@android:color/transparent"
            android:name="com.motorola.laptoppanel.activity.LaptopPanelActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:screenOrientation="landscape"
            android:configChanges="density|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden"
            android:maxRecents="1"
            android:resizeableActivity="true"/>
        <uses-library
            android:name="moto-core_services"
            android:required="true"/>
        <service
            android:name="com.motorola.laptoppanel.service.LaptopPanelService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.motorola.laptoppanel.service.LaptopPanelSystemServerBindService"
            android:permission="com.motorola.permission.BIND_EXPERIENCE"
            android:enabled="true"
            android:exported="true"
            android:process=":daemon">
            <intent-filter>
                <action android:name="com.motorola.intent.action.EXPERIENCE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.motorola.laptoppanel.checkin.LaptopPanelCheckinService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <uses-library
            android:name="moto-settings"
            android:required="true"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <activity
            android:theme="@style/Theme.AlertDialog.SettingsLib"
            android:name="com.android.settingslib.users.CreateUserActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:finishOnCloseSystemDialogs="true"/>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.motorola.laptoppanel.androidx-startup">
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
