<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="316000012"
    android:versionName="03.16.0000.12"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="com.motorola.mobiledesktop.core"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="34"
        android:targetSdkVersion="36"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING"/>
    <uses-permission android:name="android.permission.MANAGE_USB"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.CALL_AUDIO_INTERCEPTION"/>
    <uses-permission android:name="android.permission.TETHER_PRIVILEGED"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-permission android:name="com.motorola.permission.mobiledesktop.rdp"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.LOCK_DEVICE"/>
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>
    <uses-permission android:name="android.permission.READ_WIFI_CREDENTIAL"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="com.microsoft.deviceexperiences.permission.CLOUD_CONNECT_ACTIONS"/>
    <uses-permission
        android:name="android.permission.REQUEST_COMPANION_PROFILE_APP_STREAMING"
        android:required="false"/>
    <uses-permission
        android:name="android.permission.REQUEST_COMPANION_SELF_MANAGED"
        android:required="false"/>
    <uses-permission android:name="com.motorola.permission.BIND_EXPERIENCE"/>
    <uses-permission android:name="com.motorola.permission.TAKE_SCREENSHOT"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS"
        android:required="false"/>
    <uses-permission android:name="android.permission.ADD_TRUSTED_DISPLAY"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.READ_CLIPBOARD_IN_BACKGROUND"/>
    <uses-permission android:name="com.motorola.permission.POINTER_CONTROL"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="android.permission.MAINLINE_NETWORK_STACK"/>
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.ASSOCIATE_INPUT_DEVICE_TO_DISPLAY"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.REMOVE_TASKS"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.GET_INTENT_SENDER_INTENT"/>
    <uses-permission android:name="com.motorola.desktop.permission.ACCESS_FOCUSED_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.SUPPRESS_CLIPBOARD_ACCESS_NOTIFICATION"/>
    <uses-permission android:name="android.permission.ACCESS_SHORTCUTS"/>
    <uses-permission android:name="android.permission.MODIFY_USER_PREFERRED_DISPLAY_MODE"/>
    <uses-permission android:name="com.motorola.permission.MONITOR_INPUT"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.ADD_ALWAYS_UNLOCKED_DISPLAY"/>
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission
        android:name="android.permission.NEARBY_WIFI_DEVICES"
        android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="com.motorola.permission.ACCESS_DESKTOP"/>
    <uses-permission android:name="com.motorola.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="com.motorola.permission.SET_ACTIVITY_WATCHER"/>
    <uses-permission android:name="com.motorola.permission.DESKTOP_STATUS_BAR"/>
    <uses-permission android:name="com.motorola.mobiledesktop.permission.INTERNAL"/>
    <uses-permission
        android:name="android.permission.CREATE_VIRTUAL_DEVICE"
        android:required="false"/>
    <uses-feature
        android:name="android.software.companion_device_setup"
        android:required="false"/>
    <permission
        android:name="com.motorola.mobiledesktop.MEDIA_OUTPUT_ROUTE_CONTROL"
        android:protectionLevel="knownSigner|preinstalled|signature"
        android:knownCerts="@array/know_sign_key"/>
    <queries>
        <package android:name="com.motorola.mobiledesktop"/>
        <package android:name="com.lenovo.hec.lenovoextend"/>
    </queries>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_smart_connect"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:roundIcon="@mipmap/ic_smart_connect_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <uses-library
            android:name="moto-settings"
            android:required="true"/>
        <uses-library
            android:name="moto-core_services"
            android:required="false"/>
        <activity
            android:theme="@style/MediaRoute"
            android:name="com.motorola.mobiledesktop.core.audio.MediaOutputRouteActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden|keyboard"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="com.motorola.mobiledesktop.action.MEDIA_OUTPUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/MediaRoute"
            android:name="com.motorola.mobiledesktop.core.desktop.RequestPermissionActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="com.motorola.mobiledesktop.core.action.REQUEST_PERMISSION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.motorola.mobiledesktop.core.audio.AudioOutputRouteContentProvider"
            android:permission="com.motorola.mobiledesktop.MEDIA_OUTPUT_ROUTE_CONTROL"
            android:exported="true"
            android:authorities="com.motorola.mobiledesktop.media.MediaOutputRouteContentProvider"/>
        <service
            android:name="com.motorola.mobiledesktop.core.MotoDesktopService"
            android:permission="com.motorola.permission.ACCESS_DESKTOP"
            android:enabled="true"
            android:exported="true"/>
        <activity
            android:label="@string/settings_title"
            android:name="com.motorola.mobiledesktop.core.desktop.DesktopActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustUnspecified"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/settings_title"
            android:name="com.motorola.mobiledesktop.core.MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.connect"/>
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/settings_title"/>
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/settings_summary"/>
            <intent-filter>
                <action android:name="com.motorola.mobiledesktop.action.MOTO_APP"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.settings.profile"
                android:value="primary_profile_only"/>
        </activity>
        <activity-alias
            android:label="@string/settings_title"
            android:name="com.motorola.mobiledesktop.core.DesktopActivityAlias"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|navigation|keyboardHidden|keyboard"
            android:targetActivity="com.motorola.mobiledesktop.core.MainActivity"
            android:windowSoftInputMode="adjustUnspecified">
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display"/>
            <meta-data
                android:name="com.android.settings.title"
                android:resource="@string/settings_title"/>
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/settings_summary"/>
            <meta-data
                android:name="com.android.settings.profile"
                android:value="primary_profile_only"/>
            <meta-data
                android:name="com.android.settings.parent_key"
                android:value="display_other_settings"/>
            <meta-data
                android:name="com.android.settings.order"
                android:value="35"/>
        </activity-alias>
        <activity
            android:label="@string/menu_about"
            android:name="com.motorola.mobiledesktop.core.desktop.AboutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.motorola.mobiledesktop.about"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialogTheme"
            android:name="com.motorola.mobiledesktop.core.desktop.tutorial.TutorialActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:autoRemoveFromRecents="true"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.motorola.mobiledesktop.tutorial"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.motorola.mobiledesktop.core.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.motorola.mobiledesktop.core.PackageChangedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service
            android:label="@string/settings_title"
            android:icon="@drawable/ic_mobile_desktop_tile"
            android:name="com.motorola.mobiledesktop.core.desktop.tile.MobileDesktopTile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name="com.motorola.mobiledesktop.core.WakeupService"
            android:permission="com.motorola.permission.BIND_EXPERIENCE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.motorola.intent.action.EXPERIENCE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <activity
            android:name="com.motorola.mobiledesktop.core.desktop.tile.TileActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
