<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dispunlock"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="36"/>
    <application android:label="DispUnlock" android:hasCode="true">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="Remove external display resolution/refresh limit (DisplayModeDirector)"/>
        <meta-data android:name="xposedminversion" android:value="82"/>
    </application>
</manifest>
