<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="36"
    android:versionName="16"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    package="com.motorola.systemui.desk"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="36"
        android:targetSdkVersion="36"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="android.permission.GET_DETAILED_TASKS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.REMOVE_TASKS"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.SET_SCREEN_COMPATIBILITY"/>
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_STACKS"/>
    <uses-permission android:name="android.permission.START_ACTIVITY_AS_CALLER"/>
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS"/>
    <uses-permission android:name="android.permission.GET_INTENT_SENDER_INTENT"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RADIO_SCAN_WITHOUT_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.OBSERVE_NETWORK_POLICY"/>
    <uses-permission android:name="com.motorola.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.MANAGE_NETWORK_POLICY"/>
    <uses-permission android:name="android.permission.REGISTER_WINDOW_MANAGER_LISTENERS"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.RESET_SHORTCUT_MANAGER_THROTTLING"/>
    <uses-permission android:name="com.motorola.permission.POINTER_CONTROL"/>
    <uses-permission android:name="com.motorola.desktop.permission.ACCESS_DISPLAY_TOKEN"/>
    <uses-permission android:name="com.motorola.desktop.permission.ACCESS_FOCUSED_WINDOW"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="com.motorola.gamemode.permission.LAUNCH_GAMEMODE"/>
    <uses-permission android:name="com.motorola.permission.MONITOR_INPUT"/>
    <uses-permission android:name="com.motorola.permission.DESKTOP_STATUS_BAR"/>
    <uses-permission android:name="com.motorola.launcher3.secondarydisplay.permission.ALL_APPS_DISPLAY2"/>
    <uses-permission android:name="com.motorola.mobiledesktop.MEDIA_OUTPUT_ROUTE_CONTROL"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_SHORTCUTS"/>
    <uses-permission android:name="com.motorola.permission.ACCESS_DESKTOP"/>
    <uses-permission android:name="com.motorola.permission.TAKE_SCREENSHOT"/>
    <uses-permission android:name="com.motorola.motocare.ACCESS_MOTOCARE"/>
    <uses-permission android:name="com.motorola.launcher3.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
    <uses-permission android:name="com.motorola.launcher3.secondarydisplay.permission.SETTINGS"/>
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.USB_PERMISSION"/>
    <uses-permission android:name="android.permission.MANAGE_USB"/>
    <uses-permission android:name="com.motorola.permission.mobiledesktop.rdp"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SET_ORIENTATION"/>
    <uses-permission android:name="android.permission.MANAGE_MEDIA_PROJECTION"/>
    <uses-permission android:name="android.permission.BROADCAST_OPTION_INTERACTIVE"/>
    <uses-permission android:name="com.motorola.myscreen.permission.ACCESS_MYSCREEN"/>
    <queries>
        <intent>
            <action android:name="com.motorola.plugin.action.PLUGIN_DISCOVERY"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL"/>
    <uses-permission android:name="android.permission.SET_POINTER_SPEED"/>
    <uses-permission android:name="android.permission.ACCESS_KEYGUARD_SECURE_STORAGE"/>
    <uses-permission android:name="com.motorola.mobiledesktop.permission.INTERNAL"/>
    <uses-permission android:name="com.motorola.launcher3.permission.DYNAMIC_ICON"/>
    <permission
        android:name="com.motorola.systemui.desk.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.motorola.systemui.desk.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.motorola.taskbar.TaskBarApplication"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:appComponentFactory="com.motorola.taskbar.TaskBarAppComponentFactory"
        android:usesNonSdkApi="true">
        <uses-library
            android:name="moto-settings"
            android:required="true"/>
        <uses-library
            android:name="moto-core_services"
            android:required="true"/>
        <uses-library
            android:name="moto-telephony"
            android:required="true"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <service
            android:name="com.motorola.taskbar.TaskBarService"
            android:permission="android.permission.STATUS_BAR_SERVICE"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.motorola.taskbar.action.BIND_SERVICE"/>
            </intent-filter>
        </service>
        <service android:name="com.motorola.taskbar.TaskBarChildUserServerService"/>
        <activity
            android:theme="@style/Theme.Recents"
            android:label="@string/recents_description"
            android:name="com.motorola.taskbar.recent.RecentsActivity"
            android:exported="true"
            android:taskAffinity=""
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|navigation|keyboardHidden|keyboard|mnc|mcc"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:resumeWhilePausing="true"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.motorola.taskbar.action.RECENTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.motorola.taskbar.SystemIconProvider"
            android:permission="com.motorola.permission.DESKTOP_STATUS_BAR"
            android:exported="true"
            android:authorities="com.motorola.systemui.desk.SystemIconProvider"
            android:singleUser="true"/>
        <receiver
            android:name="com.motorola.taskbar.ModeChooserActivityReceiver"
            android:permission="com.motorola.permission.ACCESS_DESKTOP"
            android:exported="true">
            <intent-filter>
                <action android:name="com.motorola.systemui.desk.ACTION_START_MODE_CHOOSER_ACTIVITY"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.motorola.taskbar.LockScreenReceiver"
            android:permission="com.motorola.permission.ACCESS_DESKTOP"
            android:exported="true">
            <intent-filter>
                <action android:name="com.motorola.systemui.desk.ACTION.LOCK_SCREEN"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/Theme.Transparent"
            android:label="@string/mode_chooser_label"
            android:icon="@mipmap/ic_mode_chooser"
            android:name="com.motorola.taskbar.bar.ExternalModeChooserActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name="com.motorola.taskbar.provider.TaskbarProvider"
            android:permission="com.motorola.permission.ACCESS_DESKTOP"
            android:exported="true"
            android:authorities="com.motorola.systemui.desk.TaskbarProvider"/>
        <receiver
            android:name="com.motorola.taskbar.BootCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.motorola.taskbar.ExternalCommunicateService"
            android:permission="com.motorola.permission.ACCESS_DESKTOP"
            android:enabled="true"
            android:exported="true"/>
        <receiver
            android:name="com.motorola.extendscreenshot.ActionProxyReceiver"
            android:exported="false"/>
        <activity
            android:theme="@style/TrampolineFullScreen"
            android:name="com.motorola.plugin.sdk.trampoline.TrampolineActivity"
            android:permission="com.motorola.myscreen.permission.ACCESS_MYSCREEN"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/SettingTheme"
            android:label="@string/settings_name"
            android:name="com.motorola.taskbar.settings.SettingsActivity"
            android:exported="true"
            android:taskAffinity=":Settings"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:configChanges="screenSize|screenLayout"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="com.motorola.taskbar.settings.OPEN_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/HelperTheme"
            android:name="com.motorola.taskbar.settings.helper.KeyboardShortcutHelper"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.motorola.taskbar.settings.SHORTCUT_HELPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/HelperTheme"
            android:name="com.motorola.taskbar.settings.advanced.AppRestartConfiger"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="com.motorola.taskbar.settings.AppConfiger"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/OnBoardTheme"
            android:label="@string/onboard_app_name"
            android:icon="@mipmap/ic_launcher_onboard"
            android:name="com.motorola.taskbar.onboard.OnBoardActivity"
            android:exported="true"
            android:taskAffinity=":OnBoard"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:autoRemoveFromRecents="true"
            android:resizeableActivity="false"
            android:roundIcon="@mipmap/ic_launcher_onboard_round">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.motorola.taskbar.settings.wallpaper.module.WallpaperGlideModule"
            android:value="GlideModule"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.motorola.systemui.desk.androidx-startup">
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
